body{
    background-color: black;
}
header{
    background-color: black;
}
h1{
    text-align: center;
    color: rgb(136, 136, 136);
}
main{
    background-color: gray;
}
h2{
    text-align: center;
}
div{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
} 
div{
		display: flex;
		justify-content: center;
		gap: 20px;
	}
	div img{
		width: 100px;
		height: auto;
	}